@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 5rem;
}
h1 {
  margin: 2rem;
}
.box {
  border-radius: 10px;
  margin-top: 1rem;
  width: 50%;
  height: 200px;
  padding: 10px 10px 10px 10px;
  background-color: #f5f5f5;

  transition: linear all 0.4s;
  box-shadow: 1px 1px 10px 1px grey;
  cursor: pointer;
}

/* Box shadow */
.box:hover {
}
.appreciate-button {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  background-color: white; /* Use your preferred button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  box-shadow: 1px 1px 10px 1px grey;
}
/* Add your styles here */
.container {
  display: flex;
  align-items: flex-start;
}

.feed-content {
  flex: 1;
}

.vertical-rectangular-block {
  width: 100px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  background-color: #3498db; /* Use your preferred background color */
  margin-left: 20px; /* Adjust spacing from the feed content */
}
